$dark: #005555;
$light: #F8B400;
$danger: darkred;

body {
    background-color: #fff8f1;
}

.logo {
    height: 5rem;
}

div.media {
    object-fit: cover;
    max-width: 100%;
}

img.align-self-start {
    height: 25rem;
}

@import "~bootstrap/scss/bootstrap";
