$dark: #005555;
$light: #F8B400;
$danger: darkred;
$card-height: 100%;

body {
    background-color: #fff8f1;
}

.logo {
    height: 5rem;
}

img.align-self-start {
    height: 25rem;
}

@import "~bootstrap/scss/bootstrap";
